<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .red{
        color: #F44336;
      }
      .green{
        color: #4CAF50;
      }
    </style>
  </head>
<body ng-controller="LunchCheckController">
   <div class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
            ng-model="lunch"
             class="form-control">
         </div>
         <div class="form-group">
           <span>Empty items are not considered, i.e., `, ,`</span>
         </div>
         <div class="form-group">
             <button ng-click="displayResult();" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <div class="{{colorClass}}">
             {{message}}
           </div>
         </div>
   </div>

</body>
</html>
